div(id='about',class='container-fluid')
  div(class='row')
   div(class='page-header')
    h2(class='text-center text-uppercase') Who is this Steven Waters?
 div(class='container')
  div(class='row about')
   div(class='col-md-12')
    p My name is Steven Waters and I've been building websites since I was 13 years old (circa 1999). I'm currently coding in HTML5, CSS3, JavaScript (ES5), Jade, Node.js, Express.js, Angular.js, Bootstrap 3, and I'm learning React which is a pretty nice JavaScript library for building web apps! I'm also starting to use various tools for web development (instead of relying on my code editor, IDEs, and web apps) such as Web Pack, Babel, SASS-Lint, ESLint, JS Standard. In addition, I also have a background of developing PHP itegrations and develping .NET web applications with a  little C# and VB.net. I also know jQuery pretty well too! While building websites and applications, I like to focus on making them user friendly , seo-friendly, accessible for people using assistive web technologies, and cross-browser capadible. 
     
    p When I'm not coding, I like to ride my bike down Bayshore, hang out with friends and family, read , watch the latest and greatest shows on Netflix, travel ( so far, I've been to Berlin and Prague which were amazing cities to be in) and I'm slowly getting into filmmaking. 

