footer(id='contact',class='container-fluid')
 div(class='row')
  div(class='page-header')
   h2(class='text-center text-uppercase') Contact
div(class='container')
 div(class='row')
  div(class='col-md-12') 
   p(class='text-center lead') These are just some of the sites you can find me on
 div(class='row social-icons')
  div(class='icon col-md-3 col-sm-3 col-xs-6')
   a(href='https://twitter.com/stevenwaters86',title='Twitter - A general-purpose social networking site')
    i(class='fa fa-twitter fa-4',aria-hidden='true')
  div(class='icon col-md-3 col-sm-3 col-xs-6')
   a(href='https://github.com/swaters86',title='Github - A code repository that lets you work with GIT')
    i(class='fa fa-github-alt fa-4', aria-hidden='true')
  div(class='icon col-md-3 col-sm-3 col-xs-6')
   a(href='https://www.linkedin.com/in/stevenwaters',title='Linkedin - A social networking site for business')
    i(class='fa fa-linkedin fa-4',aria-hidden='true')
  div(class='icon col-md-3 col-sm-3 col-xs-6')
   a(href='http://codepen.io/swaters86/',title='Codepen - a site for front-end web developers')
    i(class='fa fa-codepen fa-4',aria-hidden='true')